    <h1>Про мене</h1>

    <p>Привіт, мене звати {$name}.</p>

    <p>{$bio}</p>

    <h3>Увлечения / Хобі</h3>
    <ul>
    {foreach $hobbi as $h}
        <li>{$h}</li>
    {/foreach}
    </ul>

    <p>Контакти: ksusshasimonenko52@gmail.com</p>
